@font-face {
    font-family: Titillium Web;
    src: url(fonts/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2);
  }
@font-face {
    font-family: ArcadeClassic;
    src: url(fonts/ARCADECLASSIC.TTF);
}
@font-face {
    font-family: F1-regular;
    src: url(fonts/Formula1-Regular.woff2);
}

a:link  {
    text-decoration: none;
    color: #e10600;
}

a:visited  {
    text-decoration: none;
    color: #eb8612;
}

a:hover  {
    text-decoration: none;
    color: #eb1298;
}

a:active  {
    text-decoration: none;
    color: #3af10c;
}

.titulo1{

    text-align: center;
    font-size: 78px;
    line-height: 36px;
    font-family: "ArcadeClassic";
    margin-bottom: 10px;
    margin-top: 50px;
}
.titulo2{

    font-size: 32px;
    line-height: 36px;
    font-family: "Titillium Web";
    margin-bottom: 10px;
    text-align: center;
}
.titulo3{
    color: #e10600;
    font-family: "Titillium Web";
    font-size: 45px;
    line-height: 14px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}


.nombre_juego{

    font-size: 25px;
    font-family: F1-regular;
    letter-spacing: .2px;
    line-height: 18px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 100px;   
    text-align: left;
}

.caja_juego{
    margin-left: 70px;   
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: auto;

}
.imagen_juego{

    max-width: 20%;
    max-height: 25%;
    
}
